/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/04/2015, 06:26:52 PM
    Author     : Erick Jonathan Hernandez
*/


.header
{
    background: orangered;
}
.ladoIzqCueva
{
    background: olive;
}
.ladoIzqImg
{
    border: 1px solid;
}
.ladoIzqLogin
{
    background: darkcyan;
}