<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>IGNORADO</title>
        
    </h:head>
    <h:body>
        <ui:composition>
            <div align ="center" class="header">
                #{msjs.indexHeader}
            </div>
        </ui:composition>
    </h:body>
</html>