<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
    <h:head>
        <title>#{msj.deudorHeader}</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo"> 
                #{msj.indexHeader}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoizd.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="contenido">
                #{msj.indexTitulo}
                    <h:form>
                        <h:dataTable styleClass="tabla" value="#{cuate.listaCuate}" var="cuate" 
                                     captionClass="caption"
                                     rowClasses="impar,par">
                            <h:column headerClass="cabeza">
                                <f:facet name="header">#{msj.headerColumna1}</f:facet>
                                #{cuate.apellidos}
                            </h:column>
                            <h:column headerClass="cabeza" footerClass="pie">
                                <f:facet name="header">#{msj.headerColumna2}</f:facet>
                                #{cuate.nombres}
                                <f:facet name="footer">#{msj.pieColumna2}</f:facet>
                            </h:column>
                            <h:column headerClass="cabeza">
                                <f:facet name="header">#{msj.headerColumna3}</f:facet>
                                #{cuate.cuotas}
                            </h:column>

                        </h:dataTable>
                    </h:form>
                
            </ui:define>
            
        </ui:composition>
        
    </h:body>
</html>


