<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TITULO IGNORADO POR EL TITULO MASTER</title>
        <h:outputStylesheet library="css" name="estilo.css"></h:outputStylesheet>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msjs.loginHeader}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/login/ladoizdo.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="contenido">
                  <h:form>
                    &nbsp;
                    <div align="center">
                        <h1>#{msjs.loginMsj1}</h1>
                    </div>
                    <hr></hr>
                    <div align="center">
                        <h:form>
                            <h:panelGrid columns="1"> 
                                <h:outputLabel>
                                    #{msjs.campo1}
                                    <h:inputText id="op1" label="primer"  required="true" value="#{cuate.user}"/>
                                    <h:message for="primer" style="color:blue" />
                                </h:outputLabel>
                                <h:outputLabel>
                                    #{msjs.campo2}
                                    <h:inputSecret id="segundo" label="segundo" required="true" value="#{cuate.password}"/>
                                    <h:message for="segundo" style="color:blue" />
                                </h:outputLabel>
                            </h:panelGrid>
                            <hr/>
                            <div align="center">
                                <h:panelGroup>
                                    <h:commandButton value = "#{msjs.btn1}" action="#{cuate.pagoCuotas()}"/>&nbsp;
                                    <h:commandButton value = "#{msjs.btn2}"/>                       
                                </h:panelGroup> 
                            </div>
                        </h:form>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
